# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Environment files
.env

# VSCode settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Configuration files
config.ts

generated.md